<!-- views/index.html -->
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Socket.IO Exposed</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="components/reveal.js/css/reveal.min.css">
        <link rel="stylesheet" href="components/reveal.js/css/theme/default.css" id="theme">
        
    </head>
    <body>
        <div class="reveal">
            <div class="slides">

                <section>
                    <h1>SOCKET.IO</h1>
                    <h2>http://10.98.110.134:3000/</h2>
                    </br></br><h5><a href="https://github.com/dcorns/exploreSocketIO">Git Hub Examples</a></h5>
                </section>
                <section id="s2">
                <h1>What is socket.io?</h1>
                    <h2>"Socket.io enables real-time bidirectional event-based communications."</h2>
                    <h3>"It works on every platform, browser or device, focusing equally on reliability and speed"</h3>
                </section>

                <section>
                    <h1>What is it really?</h1>
                    <h3>Websocket</h3>
                    <h3>Engine.io</h3>
                    <h3>Socket.io</h3>
                </section>
                <section>
                    <h1>Normal HTTP Comunications Cycle</h1>
                    <h3>Request</h3>
                    <h3>Response</h3>
                    <h3>Request</h3>
                    <h3>Response</h3>
                    <h3>like a cb radio</h3>
                </section>
                <section>
                    <h1>Asynchronus Transport Methods</h1>
                    <h3>Polling</h3>
                    <h3>Long Polling</h3>
                    <h3>XML, ActiveX to keep connections open</h3>
                    <h3>Object Database Model</h3>
                    <h3>NoSQL or Document Model</h3>
                </section>
                <section>
                    <h1>Websocket Approach</h1>
                    <h3>HTTP Upgrade Header added in spec 1.1</h3>
                    <h3>It allows the client to specify additional protocols</h3>
                    <h3>Google Chrome currently only browser with native support</h3>

                </section>
                <section>
                    <h1>Engine.IO</h1>
                    <h3>"the implementation of transport-based cross-browser/cross-device bi-directional communication layer for Socket.IO"</h3>
                    <h3>Determines the best transport for given device or browser</h3>
                </section>
                <section>
                    <h1>So Again what is socket.io really?</h1>
                    <h3>Sugar Layer</h3>
                    <h3>Abstraction</h3>
                    <h3>Complexity</h3>
                    <h3>Less Code</h3>

                </section>
                <section>
                    <h1>So for what is it good?</h1>
                    <h3>Anything Realtime!</h3>

                </section>
                <section>
                    <h1>How to use</h1>
                    <h3>Server</h3>
                    <h3>Client</h3>
                    <h3>emit</h3>
                    <h3>on</h3>
                </section>
                <section>
                    <h1>Establishing The Connection</h1>
                    <h3>Server Code</h3>
                    <h3>Client Code</h3>
                </section>

                <section>
                    <h1>Events</h1>
                    <h3>Connected</h3>
                    <h3>Disconnected</h3>
                    <h3>Custom Event</h3>
                </section>
                <section>
                    <h1>Examples</h1>
                    <h3>Node Only</h3>
                    <h3>Node Express</h3>
                    <h3>Back and Forth</h3>
                    <h3>I'm telling you</h3>
                    <h3>Trivial Game</h3>
                </section>
                <section>
                    <h1>Lab: Chat Room</h1>
                    <h3>Embedded data model reduces I/O activity</h3>
                    <h3>Very Flexable Indexes</h3>
                    <h3>Querries can include keys from embedded documents and arrays</h3>
                    <h3>Automatic Scaling</h3>
                    <h3>Sharding-Data Aggregation</h3>
                    <h3>Replication and Failover</h3>
                </section>

                
                
                
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="components/reveal.js/js/reveal.min.js"></script>
        <script type="text/javascript">
            Reveal.initialize({history: true});
        </script>
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript">src=(function(){
  //var host = 'http://192.150.25.73:3000',
     socket = io.connect(host);
            socket = io.connect();
  Reveal.initialize({
    history: true
  });
 


  // Move to corresponding slide/ frament on receiving 
  // slidechanged event from server
  socket.on('slidechanged', function (data) {
    Reveal.slide(data.indexh, data.indexv, data.indexf);
    console.log(data);
    socket.emit('my other event',{my:'data'});
  });
   
})();</script>
    </body>
</html>