<!-- views/index.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Socket.IO Exposed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="components/reveal.js/css/reveal.min.css">
    <link rel="stylesheet" href="components/reveal.js/css/theme/default.css" id="theme">

</head>
<body>
<div class="reveal">
    <div class="slides">

        <section>
            <h1>SOCKET.IO</h1>
            <ul>
                <li>Login into the website</li>
                <li>Who has heard of socket.io</li>
                <li>Who has used socket.io</li>
                <li>Examples site</li>
            </ul>
        </section>
        <section>
            <h1>What is socket.io?</h1>
            <p class="fragment roll-in">"Socket.io enables real-time bidirectional event-based communications."</p>
            <p class="fragment fade-in">"It works on every platform, browser or device, focusing equally on reliability and speed"</p>
            <p class="fragment roll-in">"my definition"</p>
            <p class="fragment fade-in">"Websocket is a bi-directional and assynchronus communications protocol that that does so without the need for opening multiple HTTP connections (e.g., using
                XMLHttpRequest or iframes and long polling)."</p>

        </section>

        <section>
            <h1 >Before Websocket</h1>
            <span class="fragment fade-in">
            <span class="fragment fade-out">XMLHttpRequest: "XMLHttpRequest is a JavaScript object that was designed by Microsoft and adopted by Mozilla, Apple, and Google. It's now being standardized in the W3C. It provides an easy way to retrieve data from a URL without having to do a full page refresh. A Web page can update just a part of the page without disrupting what the user is doing.  XMLHttpRequest is used heavily in AJAX programming." The complexity of XMLHttpRequest is why we have Ajax. Learn all about XML... at link</span>
            </span>
            <span class="fragment roll-in">
            <span class="fragment fade-out">
                Using Iframes is actually a hack that came before XMHttpRequest, you can read about what iframes are actually for at the link.
            </span></span>
            <span class="fragment roll-in"><span class="fragment fade-out">
            Long polling is implemented by using a recursive ajax request shown here. For a decent overview of polling see link.
        </span></span>
        </section>
        <section>
            <h1>The Websocket Way</h1>
            <h3><a class="fragment fade-in" href="http://tools.ietf.org/html/rfc6455">RFC6455</a></h3>
                    <span class="fragment fade-in">
                    <h3>HTTP Upgrade Header added in spec 1.1</h3>
                    <h3>It allows the client to specify additional protocols</h3>
                    <h3>Currently all major browsers have native support</h3>
                        </span>
        </section>
        <section>
            <h1>Dependencies</h1>
            <h3>Socket.io</h3>
            <h3>Engine.io</h3>
            <h3>Websocket</h3>
        </section>
        <section>
            <h1>Version 1.0 vrs 0.9</h1>
            <h3>Stability many issues if you watch the repository, lots of emails</h3>
            <p>io.use() You can give a Socket.io server arbitrary functions via io.use() that are run when a socket is created.</p>
            <h3>Request</h3>
            <h3>Response</h3>
            <h3>like a cb radio</h3>
        </section>




    </div>
</div>
<script src="components/reveal.js/js/reveal.min.js"></script>
<script type="text/javascript">
    Reveal.initialize({history: true});
</script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">src=(function(){
    var host = 'http://localhost:3000',
            socket = io.connect(host);
    Reveal.initialize({
        history: true
    });

    /** start - only in master.js **/
    notifyServer = function(event){
        data = {
            indexv : Reveal.getIndices().v,
            indexh : Reveal.getIndices().h,
            indexf : Reveal.getIndices().f || 0
        }
        socket.emit("slidechanged" , data);
    }
    // listeners for slide change/ fragment change events
    Reveal.addEventListener("slidechanged", notifyServer);
    Reveal.addEventListener("fragmentshown", notifyServer);
    Reveal.addEventListener("fragmenthidden", notifyServer);
    /** end - only in master.js **/

        // Move to corresponding slide/ frament on receiving
        // slidechanged event from server
    socket.on('slidechanged', function (data) {
        Reveal.slide(data.indexh, data.indexv, data.indexf);
        console.log(data);
        socket.emit('my other event',{my:'data'});
    });

})();</script>
<script src="js/slidedata.js"></script>
<script src="js/slideActions.js"></script>
</body>
</html>